
<!--预览视图-->
<div xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="serial" type="java.lang.String"*/-->
    <!--/*@thymesVar id="count" type="java.lang.Number"*/-->
    <!--/*@thymesVar id="pagePath" type="java.lang.String"*/-->
    <div class="newFlash-pane">
        <url>
            <li th:each="content:${@cmsDataSourceService.findNoticeContent(serial,count)}">
                    <span th:text="${content.title}">name</span>
                    <p th:utext="${content.content}" ></p>
            </li>
        </url>
    </div>
</div>
<!--/预览视图-->