<!--编辑视图-->
<div xmlns:th="http://www.thymeleaf.org" class="borderBoxs">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="mr6">公告数据源：</label>
            <select class="form-control mr6 category" name="categoryId">
                <option th:each="category:${@cmsDataSourceService.findNoticeCategory()}" th:value="${category.serial}" th:text="${category.name}">

                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="mr6">展示条数：</label>
            <input class="form-control count" type="number" name="count" th:value="${count}" />
        </div>
    </form>

</div>
<!--/编辑视图-->


